---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ваша заявка успешно отправлена">
  <Fragment slot="head">
    <meta name="robots" content="noindex" />
    <meta name="robots" content="nofollow" />
    <meta name="robots" content="noarchive" />
  </Fragment>

  <div
    class="relative grid h-screen w-screen place-items-center overflow-x-hidden bg-gradient-to-tl from-stromboli-900 to-stromboli-400 pb-12 pt-16"
  >
    <div class="container grid items-center justify-center gap-6">
      <h1
        class="text-4xl font-extrabold text-stromboli-50 lg:text-center lg:text-5xl"
      >
        Ваша заявка успешно отправлена
      </h1>
      <div
        class="grid max-w-[720px] text-lg text-stromboli-200 lg:mx-auto lg:text-center"
      >
        <p>
          Спасибо за обращение! Мы свяжемся с вами в ближайшее время, чтобы
          обсудить детали вашей проблемы и назначить время для консультации.
        </p>
      </div>
    </div>
  </div>
</Layout>
