---
import { Image } from 'astro:assets';
import image from '../assets/about.jpg';
---

<section
  class="container flex scroll-mt-24 items-start gap-16 pb-12 pt-16 text-stromboli-950 sm:py-24"
  id="about-me"
>
  <div>
    <h2 class="text-balance text-4xl font-extrabold md:text-5xl">
      Меня зовут Денис Кравчук!
    </h2>
    <Image
      class="mt-8 block rounded-3xl lg:hidden"
      src={image}
      alt="Evgenia Waldmann"
      width={532}
      height={532}
    />
    <div class="mt-8 grid gap-4 text-lg font-medium sm:gap-7">
      <p>
        Меня зовут Кравчук Денис Игоревич, мне 31 год. Я целитель с 11 летним
        опытом, мастер по работе с подсознанием, мастер холистической терапии
        сознания и гипнотерапевт.
      </p>
      <p>
        Основой моего становления как человека стало обучение в Высшей школе
        тантра-варджаяны ша-фут-фат, где я сформировал себя через призму
        тантрического буддизма и воинских искусств. Моя академическая карьера
        состоит из нескольких степеней магистра: экономики, юриспруденции и
        интегративной психологии. Также я являюсь выпускником Американской
        Академии Гипноза.
      </p>
      <p>
        Мой профессиональный путь включал работу в органах юстиции, где я
        приобрел ценный опыт и глубокое понимание правовой системы власти. Так
        же я посвятил 7 лет преподаванию боевых искусств, развивая свои
        лидерские качества и целеустремленность. В течение 5 лет я работал в
        консалтинге, занимаясь построением отделов продаж и помогая компаниям
        достигать их коммерческих целей.
      </p>
      <p>
        Сегодня я занимаюсь исцелением людей через гипнотерапию и работу с
        подсознанием. Моя миссия — помочь людям обрести гармонию и внутренний
        баланс, используя мощные методики холистической терапии и гипноза. Мои
        знания и опыт позволяют мне работать с самыми сложными случаями, помогая
        людям преодолевать внутренние блоки и достигать новых высот в личной и
        профессиональной жизни.
      </p>
      <p>
        Я целеустремленный лидер, который всегда доводит начатое до конца. Мое
        главное качество — умение доводить людей до результата. Я уверен, что
        каждый человек способен на великие достижения, если правильно направить
        его энергию и раскрыть внутренний потенциал.
      </p>
    </div>
  </div>
  <Image
    class="sticky top-32 hidden rounded-3xl lg:block"
    src={image}
    alt="Denys Kravchuk"
    width={500}
    height={750}
    densities={[1.5, 2]}
    quality="high"
  />
</section>
