---
import Button from './Button.astro';
---

<section
  class="relative z-10 mx-auto max-w-[1440px] overflow-hidden rounded-r-[32px] bg-stromboli-700 pb-12 pt-16 transition-all duration-200 sm:py-24 lg:rounded-[64px] xl:rounded-[128px]"
  id="cta"
>
  <div id="cta-bg" aria-hidden="true"></div>
  <div class="container relative">
    <h3
      class="text-4xl font-extrabold text-stromboli-50 md:text-center md:text-5xl"
    >
      Поверьте, я сам прошел через это и теперь наслаждаюсь жизнью с энергией и
      страстью!
    </h3>
    <p
      class="mx-auto mt-8 max-w-[720px] text-lg font-medium text-stromboli-200 md:text-center"
    >
      Моя помощь уже принесла успех многим предпринимателям, подобным вам.
      Готовы ли вы изменить свою жизнь, чтобы вернуть страсть к жизни и удвоить
      доход? Я гарантирую результаты согласно контракту — новый прилив энергии и
      неотъемлемый успех, открывающие безграничные возможности!
    </p>
    <Button href="#contact" class="mx-0 mt-8 md:mx-auto"
      >Записаться на консультацию</Button
    >
  </div>
</section>
