---
import { Image } from 'astro:assets';
import Accordion from './Accordion.astro';
import AccordionItem from './AccordionItem.astro';

import fStock1 from '../assets/stocks/faq/f-stock-1.jpg';
import fStock2 from '../assets/stocks/faq/f-stock-2.jpg';
import fStock3 from '../assets/stocks/faq/f-stock-3.jpg';

const faqItems = [
  {
    value: 'first',
    question: 'Онлайн-консультация',
    answer:
      'Получите бесплатную онлайн-консультацию, оставив заявку. Это первый шаг к изменению вашего состояния.',
    image: fStock1,
  },
  {
    value: 'second',
    question: 'Заключение договора',
    answer:
      'После консультации заключите договор и оплатите терапию. Это обеспечит стабильность и последовательность в вашем лечении.',
    image: fStock2,
  },
  {
    value: 'third',
    question: 'Гарантия результата',
    answer:
      'Я гарантирую достижение результатов, которых вы еще не получали. После преодоления эмоционального выгорания вы будете наслаждаться новым состоянием круглосуточно.',
    image: fStock3,
  },
];
---

<section class="container scroll-mt-24 pb-12 pt-16 sm:py-24" id="faq">
  <h2 class="text-4xl font-extrabold text-stromboli-950 md:text-5xl">
    Путь к исцелению: шаг за шагом
  </h2>
  <Accordion
    class="mt-8 grid grid-cols-1 gap-4 sm:mt-16 sm:gap-8 md:grid-cols-2 lg:grid-cols-3"
  >
    {
      faqItems.map((item) => (
        <div class="relative flex min-h-[370px] overflow-hidden p-4">
          <Image
            class="absolute inset-0 z-0 h-full w-full rounded-3xl object-cover"
            src={item.image}
            alt=""
            height={360}
            aria-hidden
          />
          <div class="absolute inset-0 z-0 rounded-3xl bg-stromboli-950/50" />
          <AccordionItem
            class="relative block self-end rounded-3xl bg-reef-200 p-4 transition-all duration-300 ease-in-out"
            value={item.value}
          >
            <span
              class="text-left text-base font-bold text-reef-950"
              slot="header"
            >
              {item.question}
            </span>
            <div
              class="size-8 rounded-full bg-stromboli-700 transition-transform"
              data-icon
              slot="icon"
            >
              <svg
                width="32"
                height="32"
                viewBox="0 0 25 24"
                class="fill-stromboli-50"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M8.07699 8.58008L12.667 13.1701L17.257 8.58008L18.667 10.0001L12.667 16.0001L6.66699 10.0001L8.07699 8.58008Z" />
              </svg>
            </div>
            <p class="pt-4 text-reef-800">{item.answer}</p>
          </AccordionItem>
        </div>
      ))
    }
  </Accordion>
</section>
